* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

#search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 40px;
  margin-left: 25px;
  height: 45px;
  width: 600px;
}

#search-bar input {
  border: none;
  margin-left: 20px;
  font-size: 17px;
  width: 100%;
  outline: 0;
}

#search-bar:hover,
#search-bar:focus {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 1px 8px 0px rgb(200, 200, 200);
}

#logo {
  height: 30px;
  width: 92px;
  margin-left: 30px;
}

a {
  margin: 10px;
}

#search-bar a img {
  vertical-align: middle;
  height: 24px;
  width: 24px;
  margin-left: auto;
}

.fa-search {
  color: #4285f4;
  margin-right: 5px;
}

#sign-in {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 25px;
  justify-content: center;
}

#sign-in a img {
  border-radius: 50%;
}

.fa-th {
  color: gray;
}

.fa-th:hover {
  color: #222;
}

#nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 600px;
  margin-left: 150px;
}

#nav a {
  color: #777;
  text-decoration: none;
  font-size: 13px;
  margin: 0;
  padding: 0 10px;
}

#left a:first-child {
  color: #1a73e8;
  border-bottom: 3px solid #1a73e8;
  font-weight: bold;
  padding-bottom: 15px;
}
#left a:first-child:hover {
  color: #1a73e8;
}

#nav a:hover {
  color: #222;
}

#right a:last-child {
  border: 1px solid transparent;
  padding: 4px 15px;
  border-radius: 2px;
}

#right a:last-child:hover {
  border: 1px solid #d7d7d7;
  background: -webkit-linear-gradient(top, #eee, #e0e0e0);
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

footer {
  position: absolute;
  width: 100%;
  background: #f2f2f2;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: small;
}

footer a {
  color: #5f6368;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#top {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e4e4e4;
  height: 40px;
  align-items: center;
  margin-left: 166px;
}

#country {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

#location {
  border-left: 1px solid gray;
  display: flex;
  margin-left: 13px;
  padding-left: 16px;
  line-height: 15px;
  align-items: center;
}

#circle {
  border-radius: 100%;
  height: 10px;
  vertical-align: middle;
  width: 10px;
  background: #9e9e9e;
  display: inline-block;
  margin: 6px 4px 9px 0;
}

#bottom {
  border-top: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin-left: 166px;
}
