body,
html {
  height: 100%;
  width: 100%;
}

header {
  top: 0;
  left: 0;
  right: 0;
  margin: 25px 10px 10px 15px;
  display: flex;
  flex-direction: column;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 30px;
  width: 92px;
}

#search-bar a img {
  vertical-align: middle;
  height: 24px;
  width: 24px;
}

.fa-search {
  color: #4285f4;
}

.fa-th {
  vertical-align: middle;
}
